* {
    box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-image: url(img/canyon3.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Nanum Gothic Coding', monospace;
}

img{
	max-width: 100%;
}

/*HEADER*/

header, .nav ul {
	display: flex;
	padding: 0;
}

header {
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 8px;
	border: black 3px solid;
}

.icon {
	padding-top: 30px;
	font-size: 2em;
}

@media(min-width: 615px) {
	.icon {
		padding-top: 0px;
		text-decoration: none;
	}
}

.nav {
	flex-wrap: wrap;
	padding: 10px;
}

.nav ul li {
	padding: 5px 8px;
	margin: 0 5px;
	list-style: none;
	background: lavender;
	border-radius: 8px;
}

.nav ul li:hover, .project-1-btn:hover, .project-2-btn:hover, .project-3-btn:hover,
.project-4-btn:hover, .project-5-btn:hover, .project-6-btn:hover, .project-7-btn:hover, #form-btn:hover{
	background: lightblue;
	cursor: pointer;
}

@media(min-width: 712px) {
	header {
		justify-content: space-between;
	}
}

/*FOOTER*/

header, footer {
	background: mistyrose;
	flex-shrink: 0;
	box-shadow: 8px 5px 11px 1px midnightblue;
	margin: 30px;
}

/*END HEADER*/

footer {
	border-radius: 8px;
	border: black 3px solid;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
}

footer p {
	padding: 10px;
	margin:auto;
}

@media(min-width: 712px) {
	footer p {
		margin: 10px;
	}
}

/*END FOOTER*/

/*MAIN CONTENT - ABOUT, PROJECTS, CONTACT*/

.main-content {
	flex: 1;
	max-width: 1000px;
}

h1 {
	padding-top: 5px;
}

@media(min-width: 800px){
	.main-content {
		margin: 30px auto;
		padding: 0px 30px;
	}
}

.about, .projects, .contact {
	background: mistyrose;
	margin: 30px ;
	border: black 3px solid;
	border-radius: 8px;
	padding: 10px;
	box-shadow: 8px 5px 11px 1px midnightblue;
	max-width: 800px;
}

@media(min-width: 800px) {
	.about, .projects, .contact {
		min-width: 650px;
	}
	
	.about{
		max-width: 800px;
	}
}

@media(min-width:1000px) {
	.about, .projects, .contact {
		min-width: 800px;
	}
}

.projects, .contact {
	display: none;
}

.about a, .projects a {
	background-color:lavender;
	margin:inherit;
	padding: inherit;
	font-size: inherit;
	text-decoration: underline;
}

a {
	text-decoration:none;
	padding: 10px;
	font-size: 1rem;
	color: black;
}

@media(min-width: 510px) {
	a {
		font-size: 1.5rem;
	}
}

	/*PROJECTS*/
	.projList {
		list-style: none;
		padding:0;
		margin: auto;
	}

	.project-img{
		width: 400px;
		margin-bottom: 15px;
		border-radius: 8px;
	}

	.project-1, .project-2, .project-3,
	.project-4, .project-5, .project-6,
	.project-7 {
		display: none;
	}

	.features {
		list-style: circle
	}

	hr{
		border: black solid .5px;
	}

/*END PROJECTS*/

	/*CONTACT - FORM*/
	form input {
		margin:10px;
		padding:8px;
		font-family: 'Nanum Gothic Coding';
		border: black solid 1px;
		border-radius: 8px;
	}

	textarea {
		width: 200px;
		height: 100px;
		margin: 10px;
		padding: 8px;
		border: black solid 1px;
		border-radius: 8px;
	}

	@media(min-width:800px) {
		textarea{
			width: 300px;
		}
	}


	fieldset {
		border: black solid 1px;
		border-radius: 8px;
	}

	#form-btn, .project-1-btn, .project-2-btn, .project-3-btn,
	.project-4-btn, .project-5-btn, .project-6-btn, .project-7-btn {
		background: lavender;
		border: none;
		padding: 8px;
		border-radius: 8px;
		font-size: inherit;
		font-family: 'Nanum Gothic Coding';
	}
/*END CONTACT*/
/*END MAIN CONTENT*/
